@page
@model Presentation.Pages.CategoryModel
@{
}

<div class="section search-result-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">Category: @Model.Category.Title</div>
            </div>
        </div>
        <div class="row posts-entry">
            <div class="col-lg-8">
                @foreach(var translation in Model.PostTranslations)
                {
                    <div class="blog-entry d-flex blog-entry-search-item">
                        <a asp-page="/Single" asp-route-id="@translation.Id" class="img-link me-4">
                            @{
                                var titleImageUrl = await Model.GetPostTitleImageUrl(translation.PostId);
                            }
                            <img src="@titleImageUrl" alt="Image" class="img-fluid">
                        </a>
                        <div>
                            <span class="date">@translation.PublishDate &bullet; <a asp-page="#">@Model.Category.Title</a></span>
                            <h2><a asp-page="/Single" asp-route-id="@translation.Id">@translation.Title</a></h2>
                            <p><a asp-page="/Single" asp-route-id="@translation.Id" class="btn btn-sm btn-outline-primary">Read More</a></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
