@page
@using Presentation.Pages 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Start posts-entry -->
<section class="section posts-entry posts-entry-sm bg-light main-container">
    <div class="container">
        <div class="row">
            @foreach(var translation in Model.PostTranslations)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="blog-entry">
                        <a asp-page="/Single" asp-route-id="@translation.Id" class="img-link">
                            @{
                                var titleImageUrl = await Model.GetPostTitleImageUrl(translation.PostId);
                            }
                            <img src="@titleImageUrl" alt="Image" class="img-fluid" style="width: 210px; height: 210px;">
                        </a>
                        <div class="date">@translation.PublishDate</div>
                        <h2><a asp-page="/Single" asp-route-id="@translation.Id">@translation.Title</a></h2>
                        <p><a asp-page="/Single" asp-route-id="@translation.Id" class="read-more">Continue Reading</a></p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
