@page
@model Presentation.Pages.SingleModel
@{
}

<div class="site-cover site-cover-sm same-height overlay single-page"
     style="background-image: url('@Model.Post.TitleImageUrl');
            background-size: cover;
            background-position: center;">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.PostTranslation.Title</h1>
                    <div class="post-meta align-items-center text-center">
                        <span class="d-inline-block mt-1">
                            @Model.Author.Name @Model.Author.Surname
                        </span>
                        <span>@Model.PostTranslation.PublishDate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">

                <div class="post-content-body">
                    @Html.Raw(Model.PostTranslation.Content)
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        @foreach (var tag in Model.Hashtags)
                        {
                            <li><a href="#">@tag.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>