@page
@using Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager;
@using Application.Common.Models;
@model Presentation.Pages.Admin.Lists.LanguagesModel
@{
    ViewBag.Title = "Languages";
    var currentUser = await UserManager.GetUserAsync(User);
    bool userIsAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <button type="button" onclick="location.href='@Url.Page("/Admin/Languages/Add")'" class="btn btn-primary">Add Language</button>

            <div class="card-tools">
                <button type="button" class="btn" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        @foreach (var property in typeof(LanguageDto).GetProperties())
                        {
                            if (property.Name != "Id")
                            {
                                <th>@property.Name</th>
                            }
                        }
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LanguageDto language in Model.Languages)
                    {
                        <tr>
                            @foreach (var property in typeof(LanguageDto).GetProperties())
                            {
                                if (property.Name != "Id")
                                {
                                    <td>@property.GetValue(language)</td>
                                }
                            }

                            <td class="project-actions text-right">
                                <form method="post">
                                    <a class="btn btn-primary btn-sm" asp-page="/Admin/Languages/Details"
                                       asp-route-id="@language.Id">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" asp-page="/Admin/Languages/Edit"
                                       asp-route-id="@language.Id">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>

                                    @if (userIsAdmin)
                                    {
                                        <button class="btn btn-danger btn-sm"
                                                type="submit"
                                                asp-page-handler="Delete"
                                                asp-route-id="@language.Id">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </button>
                                    }
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>