@page
@model Presentation.Pages.Admin.Lists.UsersModel
@{
    ViewBag.Title = "Users";
    var currentUser = await UserManager.GetUserAsync(User);
    bool userIsAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
}
@using Application.Common.Models;
@using Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager;

<section class="content">
    <div class="card">
        <div class="card-header">
            @if (userIsAdmin)
            {
                <button type="button" onclick="location.href='@Url.Page("/Admin/Users/Add")'" class="btn btn-primary">Add User</button>
            }
            <div class="card-tools">
                <button type="button" class="btn " data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn " data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        @foreach (var property in typeof(UserDto).GetProperties())
                        {
                            @if (property.Name != "Id" && !(property.Name == "Password" && !userIsAdmin))
                            {
                                <th>@property.Name</th>
                            }
                        }
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            @foreach (var property in typeof(UserDto).GetProperties())
                            {
                                @if (property.Name != "Id" && !(property.Name == "Password" && !userIsAdmin))
                                {
                                    <td>@property.GetValue(user)</td>
                                }
                            }
                            <td class="project-actions text-right">
                                <form method="post">
                                    <a class="btn btn-primary btn-sm"
                                       asp-page="/Admin/Users/Details"
                                       asp-route-id="@user.Id">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    @{
                                        if (userIsAdmin)
                                        {
                                            <a class="btn btn-info btn-sm"
                                               asp-page="/Admin/Users/Edit"
                                               asp-route-id="@user.Id">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </a>
                                            <button class="btn btn-danger btn-sm"
                                                    type="submit"
                                                    asp-page-handler="Delete"
                                                    asp-route-id="@user.Id">
                                                <i class="fas fa-trash"></i>
                                                Delete
                                            </button>
                                        }
                                    }
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
